# Created by .ignore support plugin (hsz.mobi)
node_modules/*
__tests__/*
.idea/*
.gradle/*
android/.gradle/*
android/.idea/*
android/.settings/*
android/build/*
android/keystores/*

android/app/build/*
ios/build/*

package-lock.json
yarn-error.log
yarn.lock