# Created by .ignore support plugin (hsz.mobi)
node_modules/
.idea/
.gradle/
android/keystores/
android/app/app.iml
android/local.properties
android/app/build/

ios/SuperMap.framework
ios/Trial_License.slm
ios/iPhoneOS.sdk
ios/iPhoneSimulator.sdk
ios/MessageQueue.sdk
ios/iTablet-tvOS
ios/iTablet-tvOSTests
ios/Build
ios/Index

yarn.lock
yarn-error.log

