# Created by .ignore support plugin (hsz.mobi)
node_modules/*
__tests__/*
.idea/*
.gradle/*
#android/.gradle/*
#android/.idea/*
#android/.settings/*
#android/build/*
#android/keystores/*
#android/app/build.gradle
#android/app/app.iml
#android/local.properties
#android/app/build/*
#android/.DS_Store
android/*

#ios/build/*
ios/*

package-lock.json
yarn-error.log
yarn.lock

.DS_Store
.gitignore.swo
.gitignore.swp

src/.DS_Store
src/assets/.DS_Store
